.technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
.competence__container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

.technology-card {
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--title-color);
    border-radius: 10px;
    padding: 6px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
  
.technology-badge {
    color: var(--text-color);
    padding: 3px 2px;
    border-radius: 3px;
    
}
  
.technology-image {
    max-width: 100%;
    height: auto;
  }

.contend_skills{
    max-width: 500px;
    background: rgb(249, 249, 250);
    border: 0.1px solid var(--first-color);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 10px 24px;
    border-radius: 16px;
    padding: 18px 36px;
    width: 100%;
}

.title__skills{
    font-size: 28px;
    font-weight: 600;
    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.img_skills{
    width: 24px;
    height: 24px;
}

.title__skills__2{
    font-size: 28px;
    font-weight: 600;
    color: var(--title-color);
    margin-top: 66px;
    margin-bottom: 10px;
    text-align: center;
}