.home{
    position: relative;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    max-width: 540px;
    /* background-color: antiquewhite; */
    text-align: center;
}

.home__img{
    margin-bottom: 1.5rem;
    height: 200px;
}

.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
    transform: translateY(0px) translateZ(0px);
}

.home__socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
}

.home__social-link{
    color: var(--tittle-color);
    font-size: 1.3rem;
    transition: 3s;
}

.home__social-link:hover{
    color: hsl(43, 100% 68%);
    transition: 3s;
}

.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

.home__scroll-name{
    font-size: var(--small-font-size);
}

.mouse__wrapper{
    border: 2px solid var(--text-color);
    display: block;
    height: 1.8rem;
    width: 1.5rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
}

@keyframes ani-mouse{
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

.wheel{
    background-color: var(--tittle-color);
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position: relative;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;

}

.shapes{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.shape{
    position: absolute;
}
/*
.s1{
    left: 24%;
    top: 10%;
}

.s2{
    left: 10%;
    top: 30%;
}

.s3{
    right: 24%;
    bottom: 30%;
}

.s4{
    right: 25%;
    bottom: 10%;
}

.s5{
    left: 20%;
    top: 25%;
}
.s6{
    left: 10%;
    bottom: 25%;
}

.s7{
    top: 10%;
    right: 25%;
}

.s8{
    right: 24%;
    bottom: 20%;
}

.s9{
    top: 10%;
    right: 17%;
}

.s10{
    bottom: 10%;
    left: 11%;
}

.s11{
    right: 20%;
    bottom: 10%;
}
*/

@media screen and (max-width: 1024px) {
    .home__social-link {
      left: -110px;
    }
  }